<%- include('includes/head') %>
<%- include('includes/nav') %>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda</h1>
                <p class="text-center lead">Seus contatos estão abaixo</p>
                <%- include('includes/messages') %>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover thead-dark my-3">
                    <tr>
                        <td>Fernanda</td>
                        <td>Lamas</td>
                        <td>13 9807-1010</td>
                        <td>fernanda.lamas@gmail.com</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>

<%- include('includes/footer') %>